.letter-spacing-l{
    letter-spacing: .75rem;
}
.primary{
    color: rgb(0, 163, 221) !important;
}

.secondary{
    color: rgb(58, 117, 196) !important;
}

.bg-primary{
    background-color: rgb(0, 163, 221) !important; 
}

.border-primary {
    border-color: rgb(0, 163, 221) !important;
  }
  
.border-secondary {
    border-color: rgb(58, 117, 196) !important;
}


.navbar-dark .navbar-nav .active{
    background-color: rgb(58, 117, 196);
}

.navbar-nav a{
    width: 12rem;
    color: #ffffff !important;
    text-align: center;
    padding: 1rem;
}

.contenido {
    background-image: url(../img/decorado_logo.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: calc(100vh - 275px);
}


.footer{
    right: 0;
    left:0;
    width: 100%;
    bottom: 0;
    min-height: 100px;
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }

.navbar-nav a:hover{
    background-color: rgb(58, 117, 196);
}

html {
    font-size: 1rem !important;
}

/*  >md */
@media screen and (min-width: 768px) {
    header{
        height: 150px;
    }
    .map{
        width: 100vh;
        height: 30vh;
    }
}

/*  <md */
@media screen and (max-width: 768px) {
    html{
        font-size: .8rem !important;
    }

    .map{
        width: 50vh;
        height: 30vh;
    }
}

/*  <sm */
@media screen and (max-width: 576px) {
    html{
        font-size: .6rem !important;
    }
}