@import "node_modules/bootstrap/scss/bootstrap";
@import "~rfs/scss";

$primary-blue: rgb(0, 163, 221);
$secondary-blue: rgb(58, 117, 196);

.letter-spacing-l {
  letter-spacing: 0.75rem;
}
.primary {
  color: $primary-blue !important;
}

.secondary {
  color: $secondary-blue !important;
}

.bg-primary {
  background-color: $primary-blue !important;
}

.border-primary {
  border-color: $primary-blue !important;
}

.border-secondary {
  border-color: $secondary-blue !important;
}

.col.active {
  background-color: $secondary-blue;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

.navbar-nav a {
  color: #ffffff !important;
  text-align: center;
  padding: 1rem;
}

.contenido {
  background-image: url(../img/decorado_logo.png);
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 70vh;
}

.footer {
  right: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  min-height: 15vh;
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-nav a:hover {
  background-color: $secondary-blue;
}

body {
  height: auto;
  @include font-size(1rem);
  .lead {
    @include font-size(1.5rem);
  }
}

.imageSlider {
  display: block;
  width: auto;
  height: auto;
}

$imgSize: 100px;

.logoCotton {
  height: imgSize;
  width: imgSize;
}

.display-4 {
  @include font-size(3rem);
}

/*  >md */
@media screen and (min-width: 768px) {
  .header {
    height: 15vh;
  }
  .map {
    width: 100vh;
    height: 30vh;
  }
}

/*  <md */
@media screen and (max-width: 768px) {
  .contenido {
    background-size: 80% 60%;
    min-height: 80vh;
  }

  .navbar-nav a {
    width: 100%;
  }

  .map {
    width: 50vh;
    height: 30vh;
  }
}

/*  <sm */
@media screen and (max-width: 576px) {
}
